{% extends "board/layout.html" %}
{% load staticfiles %}
{% block content %}
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Error Start -->
				
				<div class="error">
					<div class="container">
						<!-- Error page content -->
						<div class="error-content">
							<!-- Heading -->
							<h2><span class="lblue">댓글을 입력해주세요</span></h2>
							
							<!-- search button and input box -->
							<form action="" method="post">
                                {% csrf_token %}
                                <table>
                                    {{ form.as_table }}
                                </table>
                                <input type="submit" value="댓글 달기" />
                            </form>
						</div>
					</div>
				</div>
				
				<!-- Error End -->
				
			</div><!-- / Inner Page Content End -->	

{% endblock %}
