{%extends "accounts/layout.html"%}
{% load staticfiles %}
{%block content%}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>HTML | Table</title>
    <style>
      table {
        width: 100%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
      }
    </style>
  </head>
  <body>
  <!-- Crown image -->
	<center>
    <img class="img-responsive" src='{%static "img/crown.png"%}' alt="" />
    <h1>{{ user }}님 환영합니다.</h1>
  </center>

    <table>
      <caption>{{user}}님의 정보
      <thread>
        <tr>
          <th>이름</th>
          <th>{{user_name}}</th>
        <tr>
        <tr>
          <th>전화번호</th>
          <th>{{user_phonenumb}}</th>
        <tr>
        <tr>
          <th>이메일</th>
          <th>{{user_email}}</th>
        <tr>
        <tr>  
    <table>
    
    <br>
    <br>
    <br>
  
  </body>
  
  
</html>
{% endblock %}