{%extends "board/layout.html"%}
{% load staticfiles %}
{%block content%}			
			<!-- Slider Start 
			#################################
				- THEMEPUNCH BANNER -
			#################################	-->

			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>	<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src='{%static "img/slider/slide01.jpg"%}'  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl largeblackbg br-red"
								data-x="20" 
								data-y="100"
								data-speed="1500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">저희 페이지는....
							</div>
							<!-- LAYER NR. 2.0 -->
							<div class="tp-caption lfl medium_bg_darkblue br-green"
								data-x="20"
								data-y="200"
								data-speed="1500"
								data-start="1800"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off">노인분들을 위한 페이지입니다. 
							</div>
							<!-- LAYER NR. 2.1 -->
							<div class="tp-caption lfl medium_bg_darkblue br-lblue"
								data-x="20" 
								data-y="250"
								data-speed="1500"
								data-start="2100"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">운동을 소개시켜 드립니다.
							</div>
							<!-- LAYER NR. 2.2 -->
							<div class="tp-caption lfl medium_bg_darkblue br-purple"
								data-x="20" 
								data-y="300"
								data-speed="1500"
								data-start="2400"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">음식을 소개시켜 드립니다.
							</div>
							<!-- LAYER NR. 2.3 -->
							<div class="tp-caption lfl medium_bg_darkblue br-orange"
								data-x="20" 
								data-y="350"
								data-speed="1500"
								data-start="2700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">궁금한 점을 댓글로 물어 보실 수 있습니다. 
							</div>
							
						</li>
						<li data-transition="cube" data-slotamount="7" data-masterspeed="600" >
							<!-- MAIN IMAGE -->
							<img src='{%static "img/banner.jpg"%}'  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							<!-- LAYERS NR. 1 -->
							<div class="tp-caption lfl"
								data-x="110"
								data-y="130"
								data-speed="800"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src='{%static "img/slider/s01.png"%}' class="img-responsive" alt="" />
							</div>
							<!-- LAYERS NR. 2 -->
							<div class="tp-caption lfl"
								data-x="80"
								data-y="265"
								data-speed="800"
								data-start="2200"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src='{%static "img/slider/s02.png"%}' class="img-responsive" alt="" />
							</div>
							<!-- LAYERS NR. 3 -->
							<div class="tp-caption lfl"
								data-x="450"
								data-y="312"
								data-speed="800"
								data-start="2700"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src='{%static "img/slider/s03.png"%}' class="img-responsive" alt="" />
							</div>
							
							<!-- LAYERS NR. 4.1 -->
							<div class="tp-caption lfr largepinkbg br-green"
								data-x="right" data-hoffset="-10"
								data-y="135"
								data-speed="800"
								data-start="3500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">모든 기기 가능
							</div>
							<!-- LAYERS NR. 6.1 // -->
							<div class="tp-caption lfr modern_big_redbg br-yellow"
								data-x="right"
								data-hoffset="-10"
								data-y="255"
								data-speed="1500"
								data-start="3800"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">테블릿 또는 핸드폰에서도...
							</div>
							<!-- LAYERS NR. 6 // -->
							<div class="tp-caption lfr modern_big_redbg br-red"
								data-x="right"
								data-hoffset="-10"
								data-y="315"
								data-speed="1500"
								data-start="4100"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">컴퓨터 또는 노트북에서도...
							</div>
						</li>
						<li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE -->
							<img src='{%static "img/slider/transparent.png" %}' style="background-color:#fff" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl modern_medium_light"
								data-x="20" 
								data-y="90"
								data-speed="800"
								data-start="1000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">노인분들을 위한
							</div>
							<!-- LAYER NR. 1.1 -->
							<div class="tp-caption large_bold_grey heading customin customout"
								data-x="10"
								data-y="125"
								data-splitin="chars"
								data-splitout="chars"
								data-elementdelay="0.05"
								data-start="1500"
								data-speed="900"
								data-easing="Back.easeOut"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-endspeed="500"
								data-endeasing="Power3.easeInOut"
								data-captionhidden="on"
								style="z-index:5">운동 소개
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src='{%static "img/menu/01.jpg"%}' alt="" />
							</div>
							<!-- LAYER NR. 2.1 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src='{%static "img/menu/02.jpg"%}' alt="" />
							</div>
							<!-- LAYER NR. 2.2 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2600"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src='{%static "img/menu/03.jpg"%}' alt="" />
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption sfb"
								data-x="20" 
								data-y="235"
								data-speed="800"
								data-start="3000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 11">
								<a class="tp-caption lfr modern_big_redbg br-red" href='/board/board_list/?category=1'>스트레칭</a><br><br><br>
								<a class="tp-caption lfr modern_big_redbg br-green" href='/board/board_list/?category=2'>유산소 운동</a><br><br><br>
								<a class="tp-caption lfr modern_big_redbg br-lblue" href='/board/board_list/?category=3'>근력 운동</a>
							</div>
						</li>
						<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="600" >
							<!-- MAIN IMAGE -->
							<img src='{%static "img/slider/transparent.png"%}' style="background-color:#fea501" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl modern_medium_light"
								data-x="20" 
								data-y="90"
								data-speed="800"
								data-start="1000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">운동 후에 먹기 좋은
							</div>
							<!-- LAYER NR. 1.1 -->
							<div class="tp-caption large_bold_grey heading customin customout"
								data-x="10"
								data-y="125"
								data-splitin="chars"
								data-splitout="chars"
								data-elementdelay="0.05"
								data-start="1500"
								data-speed="900"
								data-easing="Back.easeOut"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-endspeed="500"
								data-endeasing="Power3.easeInOut"
								data-captionhidden="on"
								style="z-index:5">음식 소개
							</div>
							<!-- LAYER NR. 3.0 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-50"
								data-y="100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3600"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 5"><img class="slide-img img-responsive" src='{%static "img/slider/s21.png"%}' alt="" />
							</div>
							<!-- LAYER NR. 3.1 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-120"
								data-y="130"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3900"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 6"><img class="slide-img img-responsive" src='{%static "img/slider/s22.png"%}' alt="" />
							</div>
							<!-- LAYER NR. 3.2 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-10"
								data-y="160"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4200"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 7"><img class="slide-img img-responsive" src='{%static "img/slider/s23.png"%}' alt="" />
							</div>
							<!-- LAYER NR. 3.3 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-80"
								data-y="190"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4500"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 8"><img class="slide-img img-responsive" src='{%static "img/slider/s24.png"%}' alt="" />
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption sfb"
								data-x="20" 
								data-y="255"
								data-speed="800"
								data-start="3000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 11">
								<a class="tp-caption lfr modern_big_redbg br-purple" href='/board/food_list'>음식 목록으로..</a><br><br><br>
								
							</div>
						</li>
						
					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->
		
			<!-- Main Content -->
			<div class="main-content">
	
				<!-- menu Start -->
				
				<div class="menu padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src='{%static "img/crown.png"%}' alt="" />
							<!-- Heading -->
							<h2>운동</h2>
							<!-- Paragraph -->
							<p>노인분들을 위한 운동들을 소개합니다.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Menu content container -->
						<div class="menu-container">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src='{%static "img/menu/01.jpg"%}' alt="" />
										<!-- Menu title / Heading -->
										<h3>스트레칭</h3>
										<span class="all pull-right"><span style="font-weight:bold"><a class="btn btn-yellow" type="button" href='/board/board_list/?category=1'> + 더보기 </a></span></span>
										<!-- Border for above heading -->
										<div class="title-border br-red"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-red">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/39">선 자세에서 하는 어깨 스트래칭 1</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/40">선 자세에서 하는 어깨 스트래칭 2</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/37">의자를 사용하는 다리 스트레칭</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/36">앉은 자세에서 하는 다리 운동</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src='{%static "img/menu/02.jpg"%}' alt="" />
										<!-- Menu title / Heading -->
										<h3>유산소 운동</h3>
										<span class="all pull-right"><span style="font-weight:bold"><a class="btn btn-yellow" type="button" href='/board/board_list/?category=2'> + 더보기 </a></span></span>
										<!-- Border for above heading -->
										<div class="title-border br-green"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-green">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/41">걷기</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/42">수영</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/43">고정식 자전거</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/44">런닝머신</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src='{%static "img/menu/03.jpg"%}' alt="" />
										<!-- Menu title / Heading -->
										<h3>근력 운동</h3>
										<span class="all pull-right"><span style="font-weight:bold"><a class="btn btn-yellow" type="button" href='/board/board_list/?category=3'> + 더보기 </a></span></span>
										<!-- Border for above heading -->
										<div class="title-border br-lblue"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-lblue">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/31">의자를 이용한 허벅지 운동1</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/32">의자를 이용한 허벅지 운동2</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/33">의자를 이용한 종아리 운동</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href="/board/board_list/34">누운 자세에서 하는 복근 운동</a>
													<!-- Price badge -->
													<div class="clearfix"></div>
												</div>
											</li>
										</ul>
									</div><!-- / Menu details end -->
								</div>
							</div>
						</div> <!-- /Menu container end -->
					</div>
				</div>
				
				<!-- Menu End -->
				
				<!-- Dishes Start -->
					
				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src='{%static "img/crown.png" %}' alt="" />
							<!-- Heading -->
							<h2>음식</h2>
							<!-- Paragraph -->
							<p>저지방, 고단백 음식을 소개합니다.</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">	
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src='{%static "img/dish/dish1.jpg" %}' class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="{% url "board:food_detail" 1 %}"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>두부스테이크</h3>
										<!-- Paragraph -->
										<p>두부를 사용한 고단백 스테이크</p>
										<!-- Button -->
										<a href="{% url "board:food_list" %}" class="btn btn-yellow btn-sm">+ 더보기</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src='{%static "img/dish/dish2.jpg" %}' class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="{% url "board:food_detail" 2 %}"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>치킨 셀러드</h3>
										<!-- Paragraph -->
										<p>닭가슴살만을 이용한 치킨 셀러드</p>
										<!-- Button -->
										<a href="{% url "board:food_list" %}" class="btn btn-yellow btn-sm">+ 더보기</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src='{%static "img/dish/dish4.jpg" %}' class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="{% url "board:food_detail" 4 %}"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>오징어 탕수육</h3>
										<!-- Paragraph -->
										<p>삶은 오징어를 이용한 탕수육</p>
										<!-- Button -->
										<a href="{% url "board:food_list" %}" class="btn btn-yellow btn-sm">+ 더보기</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src='{%static "img/dish/dish19.jpg" %}' class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="{% url "board:food_detail" 5 %}"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>달걀 셀러드</h3>
										<!-- Paragraph -->
										<p>달걀과 야채로만 이뤄진 셀러드</p>
										<!-- Button -->
										<a href="{% url "board:food_list" %}" class="btn btn-yellow btn-sm">+ 더보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				
				<!-- Dishes End -->

				<!-- Testimonial Start -->
				
				<div class="testimonial padd">
					<div class="container">
						<div class="row">    
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>최근 음식</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-recent flexslider">
									<ul class="slides">
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src='{%static "img/dish/dish9.jpg"%}' alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>Healthy Salad</h4>
												<!-- Paragraph -->
												<p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src='{%static "img/dish/dish10.jpg"%}' alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>White Vanilla Cake</h4>
												<!-- Paragraph -->
												<p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src='{%static "img/dish/dish11.jpg"%}' alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>Tasty Fried Fish</h4>
												<!-- Paragraph -->
												<p>Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>최근 댓글</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-testimonial flexslider">
									<ul class="slides">
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>Sed ut perspiciatis unde omnis iste natus error sitvolu accusative ntium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src='{%static "img/user.jpg"%}' alt="" /> Jhon Doe<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the dislikes.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src='{%static "img/user.jpg"%}' alt="" /> Marten<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>At vero eos et accusamus et iusto odio dignis simos ducimus qui bland itiis praes entium volup tatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non laboratory.</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src='{%static "img/user.jpg"%}' alt="" /> Katrina Doe<span>, your designation</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<!-- Testimonial End -->

			</div>
			<!-- / Main Content End -->		
			{%endblock%}
