{%extends "board/layout.html"%}
{% load staticfiles %}
{%block content%}
		<!-- Inner Content -->
			<div class="inner-page padd">
                
			<!-- Chefs Start -->
				
				<div class="chefs padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="{%static "img/crown.png"%}" alt="" />
							<!-- Heading -->
							<h2>만든 사람들</h2>
							<!-- Paragraph -->
							<p>노인을 위한 프로그램을 만든이를 소개합니다.</p>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="{%static "img/chef/c-back2.jpg"%}" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="{%static "img/chef/4.jpg"%}" alt="" />
									</div>
									<!--Name / Heading -->
									<h3>Moon. won guen</h3>
									<!-- Member designation -->
									<span>웹 구현</span>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src="{%static "img/chef/c-back3.jpg"%}" alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src="{%static "img/chef/2.jpg"%}" alt="" />
									</div>
									<!--Name / Heading -->
									<h3>Gim. sun me</h3>
									<!-- Member designation -->
									<span>웹과 앱 연동</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Chefs End -->

				<!-- About company -->
				<div class="about-company padd">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<!-- About Compnay Item -->
								<div class="about-company-item">
									<!-- About Company Image -->
									<img class="img-responsive img-thumbnail" src="{%static "img/chef/about-1.jpg"%}" alt="" />
								</div>
							</div>
							<div class="col-md-6">
								<!-- About Compnay Item -->
								<div class="about-company-item">
									<!-- Heading -->
									<h3>프로젝트를 만든 <span class="lblue">이유</span></h3>
									<!-- Paragraph -->
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alio consequat.</p>
									<br /><!--/ Line break -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src='{%static "img/fruit2.png"%}' alt="" />
									<!-- Heading -->
									<h3><a href="{% url "board:board_list" %}">introduce exercise</a></h3>
									<!-- Paragraph -->
									<p>스트레칭, 유산소운동, 근력운동을 소개하여 노인분들의 윤택한 삶을 가능하게 합니다.</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src='{%static "img/fruit3.png"%}' alt="" />
									<!-- Heading -->
									<h3><a href="{% url "board:food_list" %}">introduce food</a></h3>
									<!-- Paragraph -->
									<p>고단백, 저지방 음식을 소개해주어 운동 후에 섭취하면 더 큰 효과를 볼 수 있도록 합니다.</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	
            {%endblock%}
		