{%extends "board/layout.html"%}
{% load staticfiles %}
{%block content%}
			<!-- Inner Content -->
			<div class="inner-page padd">
				
				<!-- Shopping Start -->
				
				<div class="shopping">
					<div class="container">
						<!-- Shopping items content -->
						<div class="shopping-content">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop1.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Quasi Architects</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop2.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop3.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Cepturi Sintocc</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">Add to cart</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop4.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Excepteur Sint</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop5.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Occam Cupid</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop6.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Fugiat Nulla</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop7.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Eos Qui Ratione</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Shopping items -->
									<div class="shopping-item">
										<!-- Image -->
										<a href="item-single.html"><img class="img-responsive" src="{%static "img/shopping/shop8.jpg"%}" alt="" /></a>
										<!-- Shopping item name / Heading -->
										<h4 class="pull-left"><a href="item-single.html">Natus Erwor Site</a></h4>
										<div class="clearfix"></div>
										<!-- Paragraph -->
										<p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
										<!-- Buy now button -->
										<div class="visible-xs">
											<a class="btn btn-danger btn-sm" href="#">Buy Now</a>
										</div>
										<!-- Shopping item hover block & link -->
										<div class="item-hover br-red hidden-xs"></div>
										<a class="link hidden-xs" href="#">보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Shopping End -->
				
			</div><!-- / Inner Page Content End -->	
{%endblock%}