{%extends "board/layout.html"%}
{% load staticfiles %}
{%block content%}
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Recipe Start -->
				
				<div class="recipe">
					<div class="container">
						<!-- Recipe contents -->
						<div class="recipe-content">
							<!-- Recipe Name / Heading -->
							<h4>Fried Masala Chicken</h4>
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<!-- Paragraph -->
									<p>Voluptuary velit esse cillum dolore eu fugiat nulla pariat uraute irure dolor.</p>
									<!-- Recipe Items -->
									<div class="recipe-item">
										<!-- Food image -->
										<img class="img-responsive" src="{%static "img/dish/dish2.jpg"%}" alt="" />
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Recipe Items -->
									<div class="recipe-item">
										<!-- Heading -->
										<h5>Ingredients :-</h5>
										<!-- Recipe ingredients -->
										<ul class="list-unstyled">
											<li>
												<i class="fa fa-check"></i> Chicken <span class="pull-right"> 500g</span>
												<div class="clearfix"></div>
											</li>
											<li>
												<i class="fa fa-check"></i> Chicken masale <span class="pull-right"> 50g</span>
												<div class="clearfix"></div>
											</li>
											<li>
												<i class="fa fa-check"></i> Nam libero et <span class="pull-right"> 1/2 cup</span>
												<div class="clearfix"></div>
											</li>
											<li>
												<i class="fa fa-check"></i> Lam hured ore <span class="pull-right"> 100ml</span>
												<div class="clearfix"></div>
											</li>
											<li>
												<i class="fa fa-check"></i> Lam temp oretop <span class="pull-right"> 250g</span>
												<div class="clearfix"></div>
											</li>
											<li><i class="fa fa-check"></i> Biggish voluptuous. <span class="pull-right"> 150g</span>
												<div class="clearfix"></div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-5 col-sm-12">
									<!-- Recipe Items -->
									<div class="recipe-item">
										<!-- Heading -->
										<h5>Direction (45min) :-</h5>
										<!-- Recipe Description -->
										<div class="recipe-description">
											<!-- Paragraph -->
											<p>Duos aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria tusunt in culpa qui officia deserunt molliipsa quae ab tit anim id est laborious.</p>
											<!-- Paragraph -->
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab tis et quasi architecto beatae vitae dicta sunt explicabo.</p>
											<!-- Heading -->
											<h5>Nutrition Info:</h5>
											<!-- Recipe nutrition table -->
											<div class="table-responsive">
												<table class="table table-condensed table-bordered">
													<tr>
														<th>Amount</th>
														<th>Value</th>
													</tr>
													<tbody>
														<tr>
															<td>Calories</td>
															<td>200</td>
														</tr>
														<tr>
															<td>Fat</td>
															<td>9g</td>
														</tr>
														<tr>
															<td>Carbohydrate</td>
															<td>33%</td>
														</tr>
														<tr>
															<td>Protein</td>
															<td>25g</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div><!-- / Inner Page Content End -->	
			
			
{%endblock%}
		
